# compiled output
/backend/dist
/backend/node_modules
/backend/.env

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*
/front/logs
/front/*.log
/front/npm-debug.log*
/front/pnpm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
